.Property:not(:first-of-type) {
  margin-top: 8px;
}

.Property {
  &__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
  }

  &__items {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__itemValue {
    width: 24px;
    min-width: fit-content;
    height: 24px;
    border: 1px solid #1d1f22;
  }

  &__itemValue p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
  }

  &__itemValue.activeItem {
    background-color: #000;
    color: #fff;
  }

  &__itemValue.swatch {
    width: 16px;
    height: 16px;
    border: none;
    box-shadow: 0 0 7px #adadad;
  }

  &__itemValue.swatch.activeSwatch {
    outline: 1px solid #5ece7b;
    outline-offset: 1px;
  }
}
