$category-gap: 32px;

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 80px;
  position: relative;

  &__categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__category {
    display: flex;
    position: relative;
    padding: 0 16px;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
    color: #1D1F22;
  }

  &__category.active {
    font-weight: 600;
    color: #5ece7b;

    &::after {
      content: '';
      display: block;
      position: absolute;
      margin-top: 30px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #5ece7b;
    }
  }

  &__logo {
    display: block;
    height: 30px;
    width: 30px;

    @media screen and (min-width: 768px) {
      position: absolute;
      margin-left: 50%;
      transform: translate(-50%);
    }
  }

  &__currencyandcart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 22px;
    position: relative;
  }

  &__cart {
    position: relative;
    height: 18px;
    width: 20px;
    cursor: pointer;
  }

  &__cartImage {
    position: absolute;
    z-index: 2;
    margin: auto;
    height: 100%;
    width: 100%;
    background: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
  }

  &__cartCounter {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 100%;
  }

  &__cartCounter p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
  }
}

.Background {
  position: absolute;
  top: 80px;
  right: -100px;
  min-width: 100vw;
  min-height: 100vh;
  width: 1440px;
  height: 1435px;
  background-color: rgba(57, 55, 72, 0.22);
  opacity: 0.5;
  z-index: 1;

}
