* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #1D1F22;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0 100px 100px;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #dedfdf;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #949292;
}
